server:
  port: 8081

cc:
  jwt:
    location: classpath:ccmall.jks
    alias: ccmall
    password: ccmall123
    tokenTTL: 30m
  auth:
    excludePaths:
      - /search/**
      - /users/login
      - /items/**
  db:
    database: cc-user
  swagger:
    title: "用户服务接口文档"
    package: com.cc.user.controller